/*---------Primary Colors------------
#FFFFFF
#F4F5F7
#898989
#000000
*/


*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}
.container{
    display:flex;
    flex-flow: row;
}
/*-----------------------------------------Header------------------------------------------------*/
header{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: flex-end;
    height: 10rem;
    width: 100%;
    z-index: 2;
    background-color: white;
}
.heading{
    display:flex;
    height: auto;
    width: 100%;
    padding: 1rem;
    font-size: 3rem;
    font-weight: lighter;
    color:#898989;

}
.header--icon--box
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 8rem;
    transition: .5s;
    /*background-color: lightgrey;*/
}
.header--icon--box:hover{
    background-color: #F4F5F7;
}
.icon{
    height: 40%;
    width: 40%;
}


/*-----------------------------------------LOGO------------------------------------------------*/
.Logo--row{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    height: 10rem;
    width: 100%;
    padding-left: 6rem;
    /*background-color: blue;*/
}
.Logo--box{
    display:flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    width: 70%;
    font-size: 3rem;
    letter-spacing: 1rem;
    /*background-color: beige;*/
}

/*---------------------------------------MENU SECTION---------------------------------------*/
.Menu{
    display:flex;
    position:fixed;
    flex-flow: column;
    height: 100%;
    width: 20%;
    /*background-color: springgreen;*/
}
.Menu--listbox{
    display:flex;
    flex-flow: column;
    height: 35rem;
    width: auto;
    margin-left: 6rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
    /*background-color: orange;*/
}
.Menu--listbox--item{
    display:flex;
    align-items: center;
    padding: 1rem;
    height: 17%;
    width: auto;
    font-size: 2rem;
    color: #898989;
    letter-spacing: 1px;
    /*background-color: darkblue;*/
    transition: .5s;
}
.Menu--listbox--item:hover{

    background-color: #F4F5F7;
}
.Menu--footer{
    display:flex;
    flex-flow: column;
    height: 10rem;
    width: auto;
    margin-left: 6rem;
    /*background-color: orange;*/
}
.Menu--footer--item{
    display:flex;
    align-items: center;
    padding: 1rem;
    height: 15%;
    width: auto;
    font-size: 1.8rem;
    /*background-color: darkblue;*/
}

/*---------------------------------------Catalog SECTION---------------------------------------*/
.catalog{
    display:flex;
    flex-flow: column;

    margin-left: 20%;
    padding-right: 10rem;
    height: 100%;
    width: 80vw;

}
.catalog--featured{
    display:flex;
    height: 60rem;
    margin-bottom: 1rem;
    width: 100%;
    /*background-color: lightgrey;*/
    background-image: url("./img/jeans.jpg") ;
    background-size: cover;
}
.catalog--row{
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    width: 100%;
    /*background-color: deepskyblue;*/
}
/* -----ITEM STYLES---- */
.item{
    display:flex;
    flex-flow: column;
    height: 40rem;
    width: 30rem;
    /*background-color: lightcoral;*/
}
.item--image{
    display:flex;
    height: 83%;
    width: 100%;
    transition: 1s;
}
.item--image:hover{
    opacity: .6;
}
.item--detail{
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    height: 17%;
    width: 100%;
    padding: 1rem 0px;
    margin-bottom: .5rem;
    /*background-color: cornflowerblue;*/
}
.item--name{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: lighter;
    font-size: 1.6rem;
    letter-spacing: 2px;
}
.item--price
{   display:flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: lighter;
    font-size: 1.6rem;
    letter-spacing: 2px;
}
/*----------------------------------------------FOOTER------------------------------------------------*/
footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 10rem;
    height: 30rem;
    width: 100%;

}
.footer{
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
    width: 100%;
    background-color: lightgrey;
}
.footer--col{
    display:flex;
    flex-flow: row;
    height: 90%;
    width: 30rem;
    /*background-color: blueviolet;*/
}
